src/pages/generals/componente-producto.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="../assets/css/plugins.css"/>
    <link rel="stylesheet" href="../assets/css/main.css"/>
    <title>Document</title>
  </head>
  <body class="undefined">
    <div class="componente-producto-content">
      <div class="componente-producto__img"><img src=".undefinedimg/producto-muestra.jpg"/></div>
      <div class="componente-producto__titulo">
        <h4>Work Start</h4>
      </div>
      <div class="componente-producto__lista">
        <div class="componente-producto__lista-box">
          <p>ELECTRALL</p>
        </div>
        <div class="componente-producto__lista-box">
          <p>WORK</p>
        </div>
        <div class="componente-producto__lista-box">
          <p> </p>
          <li>|</li>
          <li> </li>
          <li>|</li>
          <li> </li>
        </div>
      </div>
      <div class="componente-producto__parrafo">
        <p>U$S 120.000</p>
      </div>
      <div class="componente-producto__btn"><a class="btn-general btn-orange" href="">EMÁS DETALLE</a></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>

src/pages/generals/componente-producto.pug
extends ./_common/base.pug
//- btn
block content
	.componente-producto-content
		.componente-producto__img
			img(src=`.${STATIC_URL}img/producto-muestra.jpg`)
		.componente-producto__titulo
			h4 Work Start
		.componente-producto__lista
			.componente-producto__lista-box
				p ELECTRALL
				.componente-producto__lista-span
			.componente-producto__lista-box
				p WORK
				.componente-producto__lista-span
			.componente-producto__lista-box
				p 2013
		.componente-producto__parrafo
			p U$S 120.000
		.componente-producto__btn
			a.btn-general.btn-orange( href='') EMÁS DETALLE
